* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: auto;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100svw;
  justify-content: center;
}

#header {
  flex: 0;
  padding: 5px;
  background-color: white;
}

#video-content {
  height: 80dvh;
  width: 100%;
  background-color: black;
}

video-player-container {
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

video-player {
  min-width: 256px;
  width: auto;
  height: auto;
  aspect-ratio: 16/9;
  flex: 0 0 100% !important;
}

video-player-container:has(> :nth-child(1 of video-player)) video-player {
  flex: 0 0 100% !important;
}
video-player-container:has(> :nth-child(2 of video-player)) video-player {
  width: 50dvw;
  flex: 0 0 50% !important;
}
video-player-container:has(> :nth-child(4 of video-player)) video-player {
  width: 33.3dvw;
  flex: 0 0 33.3% !important;
}
video-player-container:has(> :nth-child(9 of video-player)) video-player {
  width: 25dvw;
  flex: 0 0 25% !important;
}
video-player-container:has(> :nth-child(16 of video-player)) video-player {
  width: 20dvw;
  flex: 0 0 20% !important;
}

@media (width < height) {
  video-player-container:has(> :nth-child(2 of video-player)) video-player {
    height: 50dvh;
    flex: 0 0 100% !important;
  }
  video-player-container:has(> :nth-child(4 of video-player)) video-player {
    height: 33.3dvh;
    flex: 0 0 33.3% !important;
  }
  video-player-container:has(> :nth-child(9 of video-player)) video-player {
    height: 25dvh;
    flex: 0 0 25% !important;
  }
  video-player-container:has(> :nth-child(16 of video-player)) video-player {
    height: 20dvh;
    flex: 0 0 20% !important;
  }
}

#toolbar {
  flex: 0;
  padding: 10px;
  background-color: white;
}
